@charset "utf-8";

/* Catch All for Media layout */
img, embed, object, video {
    max-width: 100%;
}


body { 
    font-family: 'Montserrat', sans-serif;

}




h1, h2, h3, h4, h5, h6 {    
 	font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-weight: 700;
}

h1 { font-size: 3.5rem; }

h2 { font-size: 3rem; }

h3 { font-size: 1.5rem; }

p {	color: #8f8f8f; }


.color-section {
    background-color: #ff4c68;
    color: #fff;
}

.color-section#header {
	height: 100vh;
}

.white-section {
    background-color: #fff;
	padding: 7% 15%;
}

.color-section, .white-section {

	text-align: center;
}

/* HEADER */

#header {
	padding: 3% 15% 7%;
	text-align: left;
	
}

.navbar {
    padding: 0 0 4.5rem;

}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
}

.download-button {
    margin: 5% 3% 5% 0;
}

.header-image {
    width: 62%;
    transform: rotate(25deg);
	position: absolute;
	right: 25%;
}


/* FEATURED SECTION */

#features {
   /* padding: 3% 15% 7%; */
	background-color: #fff;
	position: relative;
	z-index: 1;
}

.icon {
	color: #ef8172;
	margin-bottom: 1rem;
}

.icon:hover {
	color: #ff4c68;
}
.feature-box {
	text-align: center;
	padding: 4.5%; 
}


/* TESTIMONIALS */

.carousel-control-prev-icon, .carousel-control-next-icon {
	width: 50px;
	height: 100px;
}


.carousel-item {
	padding: 7% 15%;
}


#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonials-image {
	width: 10%;
	border-radius: 100%;
	margin: 20px;
}

	
#press {
	text-align: center;
	/*padding-bottom: 3%;*/
}



.press-logo {
	width: 15%;
	margin: 20px 20px 50px;
}



/* PRICING */

#pricing {

}

.pricing-column {
 	padding: 3% 2%;
/*
	display: flex;
    align-items: stretch;
*/
}


/* CALL TO ACTION */

#cta {
	padding: 7% 15%;

}

.cta-heading {
    font-size: 3.5rem;
 }

/* FOOTER : Contacts */
footer {
   /* padding: 7% 15%; */

}

.social-icon {
    margin: 20px 10px;
}

/* MEDIA QUERIES */

@media (max-width: 1024px) {
    
    header {
        text-align: center;
    }
    
    .header-image {
        position: static;
        transform: rotate(0); /* 0 brings it back vertically stright up */
        width: 50%;
        
    }

}




























    
